a { color: #3F51B5; }
a:hover { color: #3F51B5;opacity: 0.7; }
.car-table {
	height: 250px;
	overflow-y: scroll;
}
.car-photo-area { overflow: hidden; }
.car-photo { margin-bottom: -12px;margin-right: 10px;display: block;float: left; }
.car-photo img { width: 175px; }