* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", "Noto Sans JP", sans-serif;
	font-size: 14px;
}

body {
	background-color: #3949ab;
	font-size: 14px;
}

.wrapper {
	width: 1000px;
	margin: auto;
	overflow: hidden;
}

.header {
	padding: 20px 0;
	color: #ffffff;
}

.header h1 {
	padding: 4px 0;
	font-size: 24px;
}

.contents {
	padding-bottom: 30px;
	background-color: #ffffff;
}

.contents a {
	color: #3949ab;
}

.contents h1 {
	margin-top: 40px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	font-size: 24px;
	font-weight: normal;
	border-bottom: solid 3px #e8eaf6;
}

.contents p {
	margin-top: 5px;
	margin-bottom: 15px;
	line-height: 22px;
}

.contents th {
	padding-right: 20px;
	text-align: left;
	vertical-align: top;
}

.contents ul {
	padding-left: 15px;
	list-style-type: disc;
}

.alert {
	padding: 5px 15px;
	border: solid 3px #f44336;
}

.alert h1 {
	margin: 10px 0;
	font-size: 18px;
	font-weight: bold;
	border: 0;
}

.alert p.gray {
	color: #616161;
}

.detail {
	margin-bottom: 6px;
	overflow: hidden;
}

.detail .chip,
.detail .title,
.detail .price {
	float: left;
}

.detail .chip {
	width: 60px;
	height: 22px;
	margin-right: 10px;
	color: #fff;
	border-radius: 4px;
	text-align: center;
}

.detail .chip-new {
	background-color: #ff1744;
}

.detail .chip-semi {
	background-color: #d500f9;
}

.detail .chip-old {
	background-color: #2979ff;
}

.detail .title {
	margin-top: -5px;
	margin-right: 10px;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.detail .price {
	margin-top: 2px;
	color: #424242;
}

.package {
	margin-top: 30px;
	margin-bottom: 10px;
}

.package img {
	height: 100px;
	margin-right: 5px;
}

.oshinagaki {
	width: 80%;
	margin: 10px 0;
	border: solid 1px #9e9e9e;
}

.footer {
	padding: 30px 0;
	line-height: 22px;
	color: #ffffff;
}

@media screen and (max-width: 1020px) {
	.wrapper {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;
	}
}
